* {
    margin: 0;
    padding: 0;
    background: black;
}

html,
body {
    overflow: hidden;
}

#multiverse {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 8;
}

#blackwall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 7;
    opacity: 0;
}

#whitewall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 7;
    opacity: 0;
}

.dg.ac {
    z-index: 9999 !important;
}