* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Roboto;
}

#multiverse {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 8;
    width: 100% !important;
    height: 100% !important;
}

#blackwall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    opacity: 1;
}

#whitewall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 7;
    opacity: 0;
}

#story {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 10px, #000 0px 0px 15px, #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px, #000000 0px 0px 50px, #000000 0px 0px 75px;
    text-align: center;
    z-index: 10;
    background: transparent;
    opacity: 0;
    font-size: 3em;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#story span {
    font-size: 0.5em;
}

.dg.ac {
    z-index: 9999 !important;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.centered {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

h2 {
    font-family: Roboto, Times New Roman;
    font-size: 24px;
    margin-top: 5px;
}

hr {
    width: 190px;
    margin: 10px auto 10px auto;
    border: 0px;
}

#title,
#launch,
#notice,
#entrypoint,
#intro #description,
.background-container {
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#intro {
    z-index: 101;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#intro #description {
    font-family: Roboto, Times New Roman;
    font-size: 15px;
}

#intro #description strong {
    margin: 2px 0;
    display: inline-block;
}

#intro .sound {
    font-size: 35px;
}

#intro #launch {
    font-size: 50px;
    background-color: transparent;
    font-family: Roboto;
    padding: 25px 45px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    letter-spacing: 5px;
    background: #177DB6;
    -webkit-transition: background-color 1s ease, color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
    transition: background-color 1s ease, color 1s ease;
}

#intro #launch:hover {
    background: #FFFFFF;
    color: black;
}

#intro .soundOn {
    width: 150px;
}

#sound {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}

.dashed-circle {
    position: relative;
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.dashed-circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border: 2px dashed white;
    top: 7px;
    left: -13px;
    border-radius: inherit;
    animation: spin 10s linear infinite;
}

.circle {
    position: relative;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border: 2px solid white;
    top: 16px;
    left: -23px;
    border-radius: inherit;
}

#headphone {
    position: absolute;
    top: 32px;
    left: 8px;
}

#turnup {
    font-family: Roboto;
    margin-bottom: 50px;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

nav {
    position: fixed;
    bottom: 28px;
    width: 100%;
    z-index: 999;
    z-index: 7;
    opacity: 0;
}

nav #menu {
    margin: auto;
    padding: 12px 24px;
    width: 480px;
    height: 79px;
    bottom: 15px;
    background: linear-gradient(
0deg
, rgba(0, 0, 0, 0.2624) 62.66%, rgba(0, 0, 0, 0.1024) 114.44%);
    box-shadow: 0px 0px 30px rgb(153 153 153 / 24%), 0px 0px 19.1111px rgb(10 12 15 / 15%), 0px 0px 4.88889px rgb(0 0 0 / 9%);
    border-radius: 8px;
}

nav #menu .cell {
    justify-content: center;
    align-items: center;
    width: 48px;
    display: block;
    height: 73px;
    margin: 5px 10px;
    float: left;
    text-align: center;
}

nav #menu .cell .button {
    background: white;
    border-radius: 5px;
    padding: 2px 0;
}

nav #menu .cell .description {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

#credits {
    z-index: 7;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    text-align: center;
    border-radius: 12px;
    padding: 24px;
    width: 456px;
    height: 500px;
}

#credits .title {
    background: #EFF3F5;
    width: 406px;
    margin: auto;
    border-radius: 12px 12px 0 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #050A18;
}

#credits .content {
    background: white;
    border-radius: 12px;
}

#credits .content #share {
    width: 408px;
    background: #EFF3F5;
    border-radius: 8px 8px 0px 0px;
    padding: 12px 0;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #050A18;
}

#credits .content #creator {
    width: 408px;
    padding: 14px 0;
    margin: auto;
    box-shadow: 0px 3.08148px 12.7407px rgba(11, 13, 35, 0.0728889), 0px 0.651852px 3.25926px rgba(11, 13, 35, 0.0471111);
}

#credits .content #source {
    color:black;
}

#credits .content #creator h3, #credits .content #music h3 {
    margin: auto auto 10px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #050A18;
}

#credits .content #creator .content {
    padding: 0 45px;
}

#credits .content #creator #picture {
    float: left;
    width: 150px;
}

#credits .content #creator #picture img {
    width: 130px;
    border-radius: 130px;
}

#credits .content #creator #contact {
    float: left;
    height: 100px;
    width: 150px;
    margin-top: 20px;
}

#credits .content #creator #contact h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #050A18;
}

#credits .content #creator #contact ul {
    padding-top: 5px;
    width: 75px;
    margin: auto;
}

#credits .content #creator #contact ul li {
    float: left;
    list-style-type: none;
    margin: 0 5px;
}

#credits .content #creator #contact ul li a {
    color: #000;
}

#credits .content #music {
    font-size: 15px;
    background: #EFF3F5;
    border-radius: 8px;
    width: 408px;
    padding: 12px 0;
    margin:auto;
}

#credits .content #music p.cc a {
    color:black;
}

#credits .content #music ul {
    padding: 0 0 15px 0;
}

#credits .content #music ul li {
    list-style-type: none;
}

#credits .content #music ul li a {
    color:black;
}

.bwp-single-post-share {
    border-top: 1px solid #eeefef;
    border-top-color: #2e3034;
    padding-top: 20px;
    width: 100%;
    margin: 25px 0;
    text-align: left;
    display: inline-block;
    min-height: 1px;
}

.bwp-single-post-share-list {
    margin: 10px 0 0 0;
    display: inline-block;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.bwp-single-post-share-list li {
    display: inline-block;
    margin-left: 10px;
}

.bwp-single-post-share-list .bwp-twitter-share {
    background-color: #43b1ff;
}

.bwp-single-post-share-list .bwp-facebook-share {
    background-color: #7b9be0;
}

.bwp-single-post-share-list .bwp-messenger-share {
    background-color: #0e76a8;
}

.bwp-single-post-share-list .bwp-whatapp-share {
    background-color: #44c654;
}

.bwp-single-post-share-list .bwp-linkedin-share {
    background-color: #0e76a8;
}

.bwp-single-post-share-list .bwp-reddit-share {
    background-color: #fe5f40;
}

.bwp-single-post-share-list li a {
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border-radius: 50%;
}

.bwp-single-post-share-list li a i {
    padding-left: 3px;
}