* {
    margin: 0;
    padding: 0;
    background: black;
}

html,
body {
    overflow: hidden;
}

#multiverse {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 8;
}

#blackwall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    opacity: 1;
}

#whitewall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 7;
    opacity: 0;
}

#story {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
    background: transparent;
    opacity: 0;
    font-size: 4em;
}

.dg.ac {
    z-index: 9999 !important;
}